<div class="block block-1">
  <div class="left-block"></div>
  <div class="right-block">
    {{obj.label}}
    <DemoButton #button></DemoButton>
  </div>
  <jtk-port port-type="darkblue" port-id="out" anchor-x="0.5" anchor-y="1" orientation-x="0" orientation-y="1" is-source="true"></jtk-port>
</div>
