<div class="group-2">
    <div class="group-title">
        {{obj.label}}
        <button class="expand" (click)="toggleGroup(obj)"></button>
    </div>
    <div jtk-group-content="true"></div>
    <jtk-port port-type="lightblue" anchor-y="0" anchor-x="0.5" orientation-x="0" orientation-y="-1" port-id="in" is-target="true"></jtk-port>
  <jtk-port port-type="lightblue" anchor-y="1" anchor-x="0.33" orientation-x="0" orientation-y="1"  port-id="out1" is-source="true"></jtk-port>
  <jtk-port port-type="lightblue" anchor-y="1" anchor-x="0.66" orientation-x="0" orientation-y="1"  port-id="out2" is-source="true"></jtk-port>
</div>