<div class="group-1">
    <div class="group-title">
        {{obj.label}}
        <button class="expand" (click)="toggleGroup(obj)"></button>
    </div>
    <div jtk-group-content="true"></div>
    <jtk-port port-type="darkblue" port-id="out" anchor-x="0.5" anchor-y="1" orientation-x="0" orientation-y="1" is-source="true"></jtk-port>
</div>