/* You can add global styles to this file, and also import other style files */

@import "../node_modules/jsplumbtoolkit/dist/css/syntax-highlighter.css";
@import "../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-defaults.css";


/*
block styles
 */

.block {
  width:150px;
  height:60px;
  border:1px solid black;
  background-color: white;
  display:flex;
}

.left-block {
  flex-basis:40px;
}

.block-1 .left-block { background-color: red; }
.block-2 .left-block { background-color: royalblue; }
.group-1 .left-block { background-color: red; }
.group-2 .left-block { background-color: royalblue; }

.right-block {
  display:flex;
  align-items:center;
  flex-grow:1;
  padding-left:4px;
}

.a-button {
  margin-top:2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: black transparent transparent transparent;
}

demobutton {
  margin-left:auto;
  margin-right:5px;
}

.sidebar-item {

  cursor: move;
  margin: 10px;

}

/*    / block styles */

/* ----------------------- groups ---------------------------------------------- */

.jtk-group {
  border:2px solid black;
  z-index: 10;
  width:250px;
  height:250px;
}

.jtk-group.jtk-drag-hover, .jtk-node.jtk-drag-hover {
  outline:2px solid red;
}

.group-title {
  margin:0;
  width:100%;
  height:40px;
  line-height:40px;;
  color:white;
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-indent:7px;
}

.group-1 .group-title {
  background-color: red;
}

.group-2 .group-title {
  background-color: blue;
}

.group-title button {
  position:absolute;
  right:5px;
  top:10px;
  cursor:pointer;
  line-height: 1;
  color: black;
}

.group-title button:after {
  content:"-";
}

.jtk-group {
  background-color: white;
}

.jtk-group.jtk-group-collapsed {
  height:40px;
}

.jtk-group.jtk-group-collapsed .group-title button:after {
  content:"+";
}

.jtk-group [jtk-group-content] {
  min-height:210px;
  width: auto !important;
}

.jtk-group.jtk-group-collapsed [jtk-group-content] {
  display:none;
}


/* --------------------- / groups ------------------------------------------------- */

/* -------------------- z indices ---------------------------------- */

/* bump the z-index of endpoints and connectors to ensure they work with groups */
.jtk-endpoint, .jtk-connector {
  z-index:10;
}

.jtk-node {
  z-index:9;
}


.jtk-group {
  z-index:8;
}

/* ------------------ control buttons ------------------------- */


.controls {
  top: 25px;
  color: #FFF;
  margin-right: 10px;
  position: absolute;
  left: 25px;
  z-index: 1;
  display:flex;
}

.controls i {
  background-color: #5184a0;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 4px;
  padding: 4px;
}

[undo], [redo] { background-color:darkgray !important; }
[can-undo='true'] [undo], [can-redo='true'] [redo] { background-color: #3E7E9C  !important; }

/* ------------------ / control buttons ------------------------- */


.jtk-surface {
    height:500px;
}

jsplumb-demo {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
  position:relative;
}

jsplumb-flowchart {
  width:100%;
  display:flex;
}

jsplumb-surface{
    flex:1;
  height:750px;
  border: 4px solid #CCC;
}

jsplumb-surface > div {
    width:100% !important;
    height:100% !important;
}

jsplumb-controls {
  left: 231px;
  position: absolute;
  color: white;
  top: -3px;
  z-index: 1;
  width: 150px;
}

jsplumb-miniview {
  position: absolute;
  top: 80px;
  right: 10px;
}

/*.controls {
  position:static;
}*/

nav {
  background-color: #e0e0e0;
  display:flex;
}

nav a, nav a:visited {
  padding: 12px;
  color: #000;
  margin: 8px 10px 8px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  background-color:white;
}

.jtk-miniview {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 100;
}

.sidebar {
  border-top:none;
}

.jtk-endpoint { cursor:pointer; }

/* styles for drag + drop */

.jtk-surface.jtk-drag-drop-active {
  outline:6px dotted #4ea758 !important;
}

.jtk-surface.jtk-drag-drop-hover {
  outline: 6px solid #f7a45d !important;
}

svg.jtk-drag-drop-hover, svg.jtk-drag-drop-active {
  outline:none !important;
}

svg.jtk-drag-drop-active path {
  stroke:#4ea758;
  stroke-width:3px;
  stroke-dasharray:2 0 2 5;
}

svg.jtk-drag-drop-hover path {
  stroke:#f7a45d;
  stroke-width:4px;
  stroke-dasharray:0;
}




/* ------------------------ dialogs ----------------------------*/

/* ----------------------- drag/drop interactions -------------- */
.drop-hover {
  background-color: #FCCCCC !important;
}

/* ----------------------- node styles ------------------------- */



.connection-drop svg {
  fill:#CCC;
}

.connection-drop text {
  fill:black;
}

/* styles for drag + drop */

.jtk-surface.jtk-drag-drop-active {
  outline:6px dotted #4ea758 !important;
}

.jtk-surface.jtk-drag-drop-hover {
  outline: 6px solid #f7a45d !important;
}

svg.jtk-drag-drop-hover, svg.jtk-drag-drop-active {
  outline:none !important;
}

svg.jtk-drag-drop-active path {
  stroke:#4ea758;
  stroke-width:3px;
  stroke-dasharray:2 0 2 5;
}

svg.jtk-drag-drop-hover path {
  stroke:#f7a45d;
  stroke-width:4px;
  stroke-dasharray:0;
}
